* { color: #272D45; font-family: 'Open Sans', sans-serif; }

body { background-color: #ecf0f1; margin: 0; }

label {
    font-weight: bold;
    display: block;
    width: 150px;
}
/* label:after { content: ": " } */



.main-wrapper { padding: 24px; }

#register-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#register-form input { padding: 20px; width: 75%; }
#register-form button { display: block; }
.form-single-input-wrapper { margin: 20px; }

.page {
    width: 80%;
    margin: auto;
}

/* Nav
============================*/

#fireball {
    max-height: 50px;
    margin: 10px 0;
    min-width: 50px;
    min-height: 20px;
    float: left;

}
#nav-container {
    background: #9b59b6;
    margin-bottom: 30px
}
nav {
    content: "";
    clear: both;
    display: table;
}
.bar {
    align-items: center;
    margin: 0 auto;
    width: 80%
}
.search { flex: 1; }
.search input { width: 100%; }
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav a { color: white; text-decoration: none; }
nav a:hover { color: #1C4CB2; }
nav li { padding-right: 15px; }


#nav-left, #nav-right {
    padding-top: 10px;
    display: inline-flex;
}
#nav-left {
}
#nav-right {
    float: right;
}







.forms {
    z-index: 10
}
#welcome-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.welcome-container-left {
    align-self: center;
}

/* Profile
============================*/

#profile-info {
    text-align: center;
}

/* #upload-modal {} */

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    overflow-y: auto;
    opacity: 0.5;
}

#upload-form-container {
    background-color: #C4C4C4;
    padding: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
}

#upload-form-container h3 {
    font-size: 24px;

}
#upload-form-container form input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#image-upload-input + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #9b59b6;
    display: inline-block;
    cursor: pointer;
    padding: 24px 32px;
}
#image-upload-input + label > svg, #image-upload-input + label span {
    color: white;
    fill: white;
}
#image-upload-input + label > svg {
    margin-right: 8px;
}

#upload-form-container button {
    display: block;
    padding: 22px 64px;
    margin: 16px auto 0;
    width: 79%;
    font-size: 24px;
    font-weight: 600;
    background-color: white;
}

#image-upload-input:focus + label,
#image-upload-input + label:hover {
    background-color: #8000B5;
    /* outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px */
}


/* Chat
============================*/

#chat-container {
    background-color: #B6F6FF;
    width: 600px;
    min-height: 350px;
    margin: 0 auto;
}
.chat-message-container {
    padding: 20px;
}
.chat-message {
    padding: 10px;
    min-height: 30px;
}

#chat-textarea {
    width: 99%;
    box-sizing: border-box;
    margin: 4px;
}

.chat-message-username {
    font-weight: 700;
    margin-right: 14px;
    margin-left: 14px;
}
.chat-avatar {
    max-width: 40px;
    max-height: 40px;
    float: left;
}









/* Friends
============================*/
.friends-card {
    border: 1px solid black;
    max-width: 250px;
    padding: 16px;
}
.friends-card img {
    max-width: 30px;
    max-height: 30px;
}
.friends-card-top {
    position: relative;
}
.friends-card-top .full-name {
    position: absolute;
    top: 20%;
    padding-left: 8px;
}
.friends-card-bottom {
    display: flex;
    justify-content: space-evenly
}
.friends-card-bottom button {
    padding: 16px;
    font-size: 13px;
}













/* Spinners
============================*/

.sweet-loading {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
